body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  background-color: rgb(222, 231, 231); /* Set background color to blue */
} 

.App {
  text-align: center;
  background-color: rgba(185, 109, 147, 0.24);
}

/* src/components/Auth.css */
.auth-container {
  display: flex;
  position: relative;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center horizontally */
  height: 100vh; /* Take full viewport height */
  background-color: #f0f0f0; /* Light background for contrast */
  max-width: 500px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5em; /* Increase font size for the heading */
  text-align: left;
  margin-bottom: 10px 0 20px 20px; /* Add space below the heading */
}

form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Set a fixed width for the form */
}

input {
  padding: 10px;
  margin: 10px 0; /* Space between input fields */
  font-size: 1.2em; /* Larger text for input fields */
}

button {
  padding: 10px;
  font-size: 1.2em; /* Increase button font size */
  cursor: pointer; /* Change cursor on hover */
}

button:hover {
  background-color: #8884d8; /* Change background on hover for visibility */
  color: white; /* Change text color on hover */
}

/* Centering the Add Spending form in the middle */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form horizontally */
  justify-content: center; /* Center the form vertically */
  height: 100vh; /* Full screen height */
  position: relative;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Align the Logout button to the left */
  position: absolute;
  top: 40px;
  right: -350px;
}
/* Align the logout button at the top-left corner */
.logout-button {
  position: relative;
  padding: 10px 15px;
  background-color: #007bff;
  color: rgb(45, 15, 177);
  border: none;
  border-radius: 5px 5px  0 5px;
  cursor: pointer;
}

/* Styling the spending form */
.spending-form {
  background-color: #18db32;
  margin-top: 150px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.spending-form h2 {
  margin-bottom: 10px;
}

.spending-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #3e7691;
  border-radius: 4px;
}

.spending-form button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.spending-form button:hover {
  background-color: #218838;
}




